html, body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  min-width: map-get($breakpoints, min-width);
  font-size: calc(1vw / 3.6);

  @include bp-tablet {
    font-size: calc(1vw / 7.68);
  }

  @include bp-desktop {
    font-size: calc(1vw / 19.2);
  }
}

body {
  font-family: map-get($fonts, source_code);
  font-size: map-get($gaps, 16);
  color: var(--theme-text);
  background: var(--theme-background);
  font-weight: 400;
  line-height: normal;
}

* {
  box-sizing: border-box;
}
