* {
  transition-property: border, color, background, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  font-size: calc(1vw / 3.6);

  @media #{map-get($display-rules, 'sm')} {
    font-size: calc(1vw / 7.68);
  }

  @media #{map-get($display-rules, 'md')} {
    font-size: calc(1vw / 10.24);
  }

  @media #{map-get($display-rules, 'lg')} {
    font-size: calc(1vw / 14.4);
  }

  @media #{map-get($display-rules, 'xl')} {
    font-size: calc(1vw / 19.2);
  }
}

body {
  text-rendering: optimizeLegibility;
  font-family: 'Manrope', sans-serif;
}
