/* typography */
h1, .text-h1 {
  margin: 0;
  padding: 0;
  color: var(--theme-heading);
  font-size: map-get($gaps, 28);
  line-height: map-get($gaps, 28);

  @include bp-tablet {
    font-size: map-get($gaps, 36);
    line-height: map-get($gaps, 36);
  }

  @include bp-desktop {
    font-size: map-get($gaps, 48);
    line-height: map-get($gaps, 48);
  }
}

h2, .text-h2 {
  margin: 0;
  padding: 0;
  color: var(--theme-heading);
  font-size: map-get($gaps, 24);
  line-height: map-get($gaps, 24);

  @include bp-tablet {
    font-size: map-get($gaps, 28);
    line-height: map-get($gaps, 28);
  }

  @include bp-desktop {
    font-size: map-get($gaps, 32);
    line-height: map-get($gaps, 32);
  }
}

h2, .text-h3 {
  margin: 0;
  padding: 0;
  color: var(--theme-heading);
  font-size: map-get($gaps, 20);
  line-height: map-get($gaps, 20);

  @include bp-tablet {
    font-size: map-get($gaps, 24);
    line-height: map-get($gaps, 24);
  }

  @include bp-desktop {
    font-size: map-get($gaps, 28);
    line-height: map-get($gaps, 28);
  }
}

sup, sub, .text-sup, .text-sub {
  font-size: 0.7em;
}

span, p, b, i, strong, code, .text-body {
  margin: 0;
  padding: 0;
  color: var(--theme-text);
  font-size: map-get($gaps, 16);
  line-height: map-get($gaps, 22);

  @include bp-tablet {
    font-size: map-get($gaps, 18);
    line-height: map-get($gaps, 24);
  }

  @include bp-desktop {
    font-size: map-get($gaps, 20);
    line-height: map-get($gaps, 30);
  }
}

.text-body-2 {
  margin: 0;
  padding: 0;
  color: var(--theme-text);
  font-size: map-get($gaps, 14);
  line-height: map-get($gaps, 14);

  @include bp-tablet {
    font-size: map-get($gaps, 16);
    line-height: map-get($gaps, 16);
  }

  @include bp-desktop {
    font-size: map-get($gaps, 18);
    line-height: map-get($gaps, 18);
  }
}

a, .text-link {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--theme-link);
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  transition: color 200ms;

  &:hover {
    color: var(--theme-link-hover);
  }

  &:disabled, &.disabled {
    color: var(--theme-link-disabled);
    text-decoration: underline;
  }
}

.text-marked {
  display: inline-block;
  position: relative;
  color: var(--theme-primary);
}
