@each $key, $value in $gaps {
  .ma-#{$key} {
    margin: $value;
  }
  .ms-#{$key} {
    margin-start: $value;
  }
  .me-#{$key} {
    margin-end: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .pa-#{$key} {
    padding: $value;
  }
  .ps-#{$key} {
    padding-start: $value;
  }
  .pe-#{$key} {
    padding-end: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}
