@use "functions" as *;

/* variables */

// Breakpoints
$display-breakpoints: (
  'xs': '360px',
  'sm': '768px',
  'md': '1024px',
  'lg': '1440px',
  'xl': '1800px',
);

$display-rules: generate-breakpoints-rule($display-breakpoints);

// Theme Colors
$themes: (
  light: (
    background: #fff,
    background-shadow: rgba(225, 225, 225, 0.25),
    primary: #000,
    surface: #f9f9f9,
  ),
  dark: (
    background: #000,
    background-shadow: rgba(0, 0, 0, 0.25),
    primary: #fff,
    surface: #fefefe,
  )
);

$theme-palette: create-scss-colors-var(map-get($themes, 'light'));

// Fonts
$display-font: 'DotGothic16', sans-serif;
